*.log
.DS_Store
Thumbs.db

# Env files
.env.dev
.env
.env.*
!.env.example
!.env.testing.example
.env.backup
.env.testing
/.env.docker

# PHP tooling / test caches
.phpactor.json
.phpunit.result.cache
.phpunit.cache/
.phpunit.cache.test/

# IDEs
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Auth / secrets
/auth.json

# Dependencies & build outputs
/node_modules
/vendor
/public/build
/public/hot
/public/storage

# App runtime files
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Server binaries / artifacts
**/caddy
frankenphp
frankenphp-worker.php
