{
    frankenphp {
                   worker /app/public/index.php 4
               }
}

:80 {
    root * /app/public

    encode zstd gzip

    @sensitive {
                   path /.env /.git* /storage/logs/*
               }
    respond @sensitive 403

    php_server
}
